# When shell scripts end in CRLF, bash gives a cryptic error message
*.sh text eol=lf
src/main/webapp/static/js/bootstrap* linguist-vendored
src/main/webapp/static/js/echarts.min.js linguist-vendored
src/main/webapp/static/js/jquery.js linguist-vendored
src/main/webapp/static/js/data.js linguist-vendored
