<!doctype html>
<html>

<head>
  {% block head %}
  {% endblock %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/jquery.js"></script>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="/static/js/bootstrap.min.js"></script>
  <title>数据门户</title> 
</head>

<body style="font-size:16px">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"class="btn btn-outline-primary">Home</a></h5>
    <!-- <nav class="my-2 mr-md-3"> -->
        <!-- <a class="p-2 text-dark" href="/overview">Overview</a> -->
        
    <!-- </nav> -->
    
    {% if user==null %}
    <a class="btn btn-outline-success" href="/visual">Detail</a>
    <a href="/signin" class="btn btn-outline-primary">Sign In</a>
    {% else %}
    <span>Welcome! <a href="/user/profile">{{ user.name }}</a></span>
    &nbsp;&nbsp;&nbsp;
    <a class="btn btn-outline-success" href="/visual">Detail</a>
    <a href="/signout" class="btn btn-outline-primary">Sign Out</a>
    {% endif %}
</div>
  <div class="container" >
    <div class="row">
      <div class="col-12 col-md">
        {% block main %}
        {% endblock %}
      </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <h5>Copyright&copy;2020</h5>
          <p>
            <a target="_blank" href="https://www.liaoxuefeng.com/wiki/1252599548343744/">Learn</a> -
            <a target="_blank" href="https://github.com/Honour-Van/Java-2021A/archive/refs/heads/main.zip/">Download</a>
            -
            <a target="_blank" href="https://github.com/Honour-Van/Java-2021A">Github</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>